.skills {
  position: relative;
  display: flex;
  z-index: 6;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  padding: 20px 10px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(var(--glass-background), 0.4);
  border-radius: 16px;
  user-select: none;
  backdrop-filter: blur(10px);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
      margin-bottom: 20px;
      margin-left: 15px;

      > span {
        display: block;
        margin-top: 10px;
        color: white;
        text-align: center;
        font-size: 14px;
        opacity: 0.5;
        transition: all 0.3s ease;
      }


      @media (hover: hover) {
        &:hover {
          img {
            filter: var(--team-filter-hover);
          }

          span {
            opacity: 1;
          }
        }
      }
    }
  }

  .imageWrap {
    display: block;
    width: 72px;
    height: 72px;
    background: #7B7B7B;

    img {
      visibility: hidden;
    }

    &.loaded {
      background: none;

      img {
        visibility: visible;
      }
    }
  }

  img {
    display: block;
    max-width: 72px;
    max-height: 72px;
    filter: var(--team-filter);
    transition: filter 0.3s ease;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .skills {
    width: 90%;

    .imageWrap {
      width: 50px;
      height: 50px;

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
}

