$background-color_1: #dadada;
$background-color_2: #d43e07;
$background-color_3: #9e554f;
$__rocketColor: white;
$__rocketBubbleColor: #1b1b1b;
$__rocketFireColor: #F2993B;
$__bgColor: white;

@keyframes animateRocket {
  to {
    transform: translateX(-50%) translateY(3px);
  }
}

@keyframes animFire {
  0% {
    border-top: 50px solid $__rocketFireColor;
  }
  25% {
    border-top: 50px solid $__rocketFireColor;
  }
  50% {
    border-top: 55px solid $__rocketFireColor;
  }
  65% {
    border-top: 48px solid $__rocketFireColor;
  }
  80% {
    border-top: 40px solid $__rocketFireColor;
  }
  100% {
    border-top: 60px solid $__rocketFireColor;
  }
}

@keyframes rocket {
  0% {
    scale: 1;
    top: 100%;
    left: 0;
  }
  50% {
    rotate: 40deg;
  }
  80% {
    scale: 0.1;
    top: 6.5%;
    left: 51%;
    rotate: 13deg;
  }
  100% {
    scale: 0.1;
    top: 8.5%;
    left: 51%;
    rotate: 13deg;
  }
}

@keyframes rocketMobile {
  0% {
    scale: 0.5;
    top: 100%;
    right: 0;
  }
  30% {
    rotate: -22deg;
    right: 0;
  }
  60% {
    rotate: -22deg;
    right: 25%;
  }
  80% {
    scale: 0.1;
    top: 6.5%;
    right: 25%;
    rotate: -13deg;
  }
  100% {
    scale: 0.1;
    top: 8.5%;
    right: 25%;
    rotate: 13deg;
  }
}

@keyframes flame {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flameMobile {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flagMobile {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rocketWrap {
  position: fixed;
  z-index: 0;
  transform-origin: top left;
  animation: rocket 6s;
  scale: 0.1;
  left: 51%;
  rotate: 13deg;
  top: 8.5%;

  .rocket {
    position: relative;
    z-index: 2;
    width: 80px;
    height: 180px;
    box-shadow: 0 -3px 0 #FFF;
    background-color: $background-color_1;
    border-radius: 50% 50% 25% 25% / 50% 50% 40% 40%;
    transform-style: preserve-3d;
    //animation: animateRocket 1s linear alternate infinite;

    &::before {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 55%;
      height: 10px;
      background-color: $background-color_2;
      border-radius: 0 0 25% 25% / 50% 50% 40% 40%;
      transform: translateX(-50%);
      content: '';
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -10;
      width: 155%;
      height: 55px;
      background-color: $background-color_3;
      border-radius: 50% 50% 10% 10% / 90% 90% 20% 20%;
      transform: translateX(-50%) translateZ(-1px);
      content: '';
    }

    .rocketWindow {
      position: absolute;
      top: 40px;
      left: 50%;
      width: 30px;
      height: 30px;
      box-sizing: initial;
      background-color: $background-color_3;
      border: 5px solid #adadad;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }

  .rocketFlame {
    position: absolute;
    bottom: -9px;
    left: 19px;
    z-index: 0;
    opacity: 0;
    animation: flame 6s;

    &:after {
      position: absolute;
      border-top: 60px solid $__rocketFireColor;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      animation: animFire .5s infinite;
      content: '';
    }
  }

  .flag {
    position: absolute;
    right: -120px;
    top: 90px;
    opacity: 1;
    animation: flag 6s;

    &:before {
      content: '';
      display: block;
      width: 2px;
      height: 100px;
      background: black;
      position: absolute;
    }

    .colors {
      width: 80px;
      height: 20px;
      background: #0033A0;
      padding: 20px 0;

      &:before {
        display: block;
        width: 100%;
        height: 20px;
        background: #f00;
        content: '';
        position: relative;
        top: -20px;
      }

      &:after {
        display: block;
        width: 100%;
        height: 20px;
        background: #F2A800;
        content: '';
      }
    }
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .rocketWrap {
    left: auto;
    right: 25%;
    rotate: 13deg;
    top: 8.5%;
    animation: rocketMobile 6s;

    .rocketFlame {
      animation: flameMobile 6s;
    }

    .flag {
      opacity: 1;
      animation: flagMobile 6s;
    }
  }
}
