.home {
  user-select: none;
  text-align: center;
  position: relative;
  z-index: 3;

  h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
  }

  h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    opacity: 0.3;
  }

  p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    opacity: 0.3;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .home {
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}

