.contacts {
  position: relative;
  display: flex;
  z-index: 6;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  user-select: none;
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);

  a {
    display: block;
    width: 72px;
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    img {
      width: 72px;
      height: 72px;
      border-radius: 15px;
      filter: var(--team-filter);
    }
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .contacts {
    width: 90%;

    a {
      width: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
