@keyframes dayNightAnimation {
  0%, 20% { transform: rotate(0); }
  40%, 60% { transform: rotate(.5turn); }
  80%, 100% { transform: rotate(1turn); }
}

.mainLoader {
  position: fixed;
  z-index: 999999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--loader-background);
  transition: opacity 320ms ease, visibility 320ms ease;

  &.entering {
    opacity: 1;
  }

  &.leaving {
    visibility: hidden;
    opacity: 0;
  }
}

.loader {
  position: relative;
  width: 160px;
  height: 80px;
  overflow: hidden;
  border-radius: 100px 100px 0 0;

  &::before {
    position: absolute;
    inset: 0 0 -100%;
    background: radial-gradient(farthest-side, #ffd738 80%, transparent) left 70% top 20% / 30px 30px no-repeat,
      radial-gradient(farthest-side, #21212c 92%, transparent) left 65% bottom 19% / 30px 30px no-repeat,
      radial-gradient(farthest-side, #ecfefe 92%, transparent) left 70% bottom 20% / 30px 30px no-repeat,
      linear-gradient(#b8cdec 50%, #21212c 0) no-repeat;
    animation: dayNightAnimation 1s infinite;
    content: '';
  }
}
