@keyframes moveCloudsToRight {
  0% {
    margin-left: 102vw;
  }
  100% {
    margin-left: -102vw;
  }
}

@keyframes moveCloudsToLeft {
  0% {
    margin-left: -102vw;
  }
  100% {
    margin-left: 102vw;
  }
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

@function randomFloatInRange($min, $max) {
  @return $min + random() * ($max - $min);
}

.clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;

    &:before {
      position: absolute;
      top: -15px;
      left: 10px;
      width: 100px;
      height: 80px;
      background: #fff;
      border-radius: 100px;
      transform: rotate(30deg);
      content: '';
    }

    &:after {
      position: absolute;
      top: -15px;
      right: 15px;
      left: auto;
      width: 120px;
      height: 120px;
      background: #fff;
      border-radius: 100px;
      transform: rotate(30deg);
      content: '';
    }
  }

  .rightMove {
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @for $i from 1 through 10 {
      .cloud:nth-of-type(#{$i}) {
        margin-left: randomNum(102, 115) + vw;
        animation-delay: randomNum(500, 7000) + ms;
        animation-duration: randomNum(45, 70) + s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: moveCloudsToRight;
        animation-timing-function: linear;
        scale: randomFloatInRange(0.3, 0.7);
        opacity: randomFloatInRange(0.1, 0.5);
      }
    }
  }

  .leftMove {
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @for $i from 1 through 10 {
      .cloud:nth-of-type(#{$i}) {
        margin-left: -(randomNum(102, 115)) + vw;
        animation-delay: randomNum(500, 7000) + ms;
        animation-duration: randomNum(45, 70) + s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: moveCloudsToLeft;
        animation-timing-function: linear;
        scale: randomFloatInRange(0.3, 0.7);
        opacity: randomFloatInRange(0.1, 0.5);
      }
    }
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .clouds {
    .rightMove {
      @for $i from 1 through 10 {
        .cloud:nth-of-type(#{$i}) {
          margin-left: randomNum(102, 115) + vw;
          animation-delay: randomNum(500, 7000) + ms;
          animation-duration: randomNum(45, 70) + s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-name: moveCloudsToRight;
          animation-timing-function: linear;
          scale: randomFloatInRange(0.3, 0.5);
          opacity: randomFloatInRange(0.1, 0.5);
        }
      }
    }

    .leftMove {
      @for $i from 1 through 10 {
        .cloud:nth-of-type(#{$i}) {
          margin-left: -(randomNum(102, 115)) + vw;
          animation-delay: randomNum(500, 7000) + ms;
          animation-duration: randomNum(45, 70) + s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-name: moveCloudsToLeft;
          animation-timing-function: linear;
          scale: randomFloatInRange(0.3, 0.5);
          opacity: randomFloatInRange(0.1, 0.5);
        }
      }
    }
  }

}
